* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #777;
    line-height: 1.5;
}

p {
    line-height: 2;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: bold;
}

.section-padding {
    padding: 90px 0;
}

.full-width {
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

/* navbar */
header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

a.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.navbar {
    padding: 25px 0;
}

nav a,
nav a:hover {
    color: #fff;
}

li.nav-item a.nav-link {
    position: relative;
    display: inline-block;
}

li.nav-item a.nav-link::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #fff;
    content: "";
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

li.nav-item.active a.nav-link::after {
    width: 100%;
}

li.nav-item a.nav-link:hover::after {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

li.nav-item {
    margin: 0 15px;
}

li.nav-item:last-child {
    margin-right: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

button:focus {
    outline: none;
}

@media screen and (max-width: 980px) {
    .navbar-nav li.nav-item {
        margin: 15px 0;
        text-align: center;
    }

    .navbar-nav-bg {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

/* home styles */
.main {
    width: 100%;
    height: 100vh;
    background: url(../img/main.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    position: relative;
}

.main::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.main-content {
    z-index: 1;
}

.main-content .welcome {
    font-weight: bold;
    font-size: 22px;
}

.main-content .type {
    margin-top: 20px;
    font-size: 60px;
}

.main-content .social-icons {
    margin-top: 20px;
}

.main-content .social-icons a {
    padding: 0 10px;
    color: #fff;
}

.main-content .social-icons a:hover {
    color: #fff;
}

.cta {
    margin: 0 15px;
    padding: 10px 60px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    color: #fff;
    display: inline-block;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cta-portfolio {
    border: 1px solid #e84118;
}

.cta-portfolio::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e84118;
    content: "";
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
}

.cta-portfolio:hover {
    border-color: #fff;
    text-decoration: none;
    color: #fff;
}

.cta-portfolio:hover::before {
    left: -100%;
}

.cta-contact {
    border: 1px solid #fff;
}

.cta-contact::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    content: "";
    background-color: #e84118;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
}

.cta-contact:hover::after {
    left: 0;
}

.cta-contact:hover {
    border-color: #e84118;
    text-decoration: none;
    color: #fff;
}

canvas {
    display: block;
}

#myparticles {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.type .mytext {
    font-weight: bold;
}


/* about styles */
.about {
    background-color: #EDEEEF;
    font-size: 1.2em;
}
.about img {
    width: 100%;
    height: 80%;
    border-radius: 15px;
}

.about h3 {
    margin-bottom: 15px;
}

.about h5 {
    margin-bottom: 20px;
}

.about-contact {
    padding: 10px 60px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    color: #333;
    border: 1px solid #333;
    margin-top: 40px;
}

.about-contact:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e84118;
    border: 1px solid #fff;
}

/* exp-skills styles */

.exp-skills {
    position: relative;
    color: #ddd;
}

.exp-skills::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(21, 131, 134, 0.9);
}

.exp-skills .section-header {
    width: 100%;
    position: relative;
}

.exp-skills .section-header h3 {
    color: rgb(0, 0, 0);
}

.exp-skills .section-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #fff;
}

.exp-skills h3,
.exp-skills h5 {
    color: #fff;
}

.exp-skills h3 {
    position: relative;
    display: inline-block;
}

.exp-skills h5 {
    margin-top: 30px;
}


.exp-skills h6 {
    color: #ddd;
}

.skills h6 {
    margin: 30px 0;
}

.skills .parallel {
    margin-top: 70px;
}

.progress-content {
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.skill-progress {
    height: 100%;
    background-color: #e84118;
    border-radius: 20px;
    position: relative;
}

.skill-progress::before {
    position: absolute;
    top: -40px;
    right: -7px;
    content: attr(data-progress);
    color: #333;
    background-color: #fff;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 5px;
}

.skill-progress::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    right: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 6px solid #fff;
}

/* project styles */
.project {
    background-color: #EDEEEF;
}

.project .section-header {
    margin-bottom: 30px;
}

.project-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
}

.project-name {
    margin-top: 10px;
    text-align: center;
}

.project-content {
    margin-top: 20px;
    padding: 0 20px 20px 20px;
}

.project-inner {
    border: 1px solid #ddd;
}

.project-content:hover .project-image img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

/* book styles */
.book {
    position: relative;
}

.book::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(21, 131, 134, 0.9);
}

.book-item {
    margin: 5px 0;
}

.item-content {
    width: 100%;
    position: relative;
    border: 3px solid #fff;
    overflow: hidden;
}

.item-content img {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
}

.book-item.col-md-3 img {
    height: 200px;
}

.book .info {
    z-index: 2;
    position: relative;
    font-weight: bold;
}

.book-item .info .description {
    color: #e84118;
    font-size: 16px;
    opacity: 0;
    top: -20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.book-item .info .item-icon {
    color: #fff;
    opacity: 0;
    bottom: -20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.book-item .info .item-icon a {
    color: #fff;
}

.img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow: hidden;
}

.img-overlay::before {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    content: "";
    left: -110%;
    top: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.img-overlay::after {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: rgba(232, 65, 24, 0.8);
    content: "";
    right: -110%;
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.book-item:hover .img-overlay::before {
    left: 0;
}

.book-item:hover .img-overlay::after {
    right: 0;
}

.book-item:hover .info .item-icon {
    opacity: 1;
    bottom: -5px;
}

.book-item:hover .info .description {
    opacity: 1;
    top: -10px;
}

.book-item:hover .item-content img {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
}

ul.filter {
    margin: 30px 0;
}

ul.filter li {
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
    background-color: #333;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
}

ul.filter li.filter-active {
    background-color: #e84118;
}

.book .section-header {
    z-index: 3;
}

.book ul.filter {
    z-index: 3;
}

/* contact styles */
.contact {
    background: #EDEEEF;
}

.contact .section-header {
    font-size: 3.2em;
    font-weight: bold;
}

.contact .contact-details {
    font-size: 1.6em;
    padding: 15px 0;
}

.contact .contact-social-icons {
    font-size: 1.8em;
    padding: 15px 0 15px 40px;
    margin-top: 60px;
}

.contact .contact-social-icons i {
    width: 12px;
    margin-right: 22px;
}

.contact .contact-social-icons a {
    text-decoration: none;
    color: #333
}

/* footer styles */
footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 15px;
    height: 100%;
}